extends layout

block content

	script(src='javascript/view.js')
	script(src='javascript/pluginPerspFns.js')
	script(type='text/javascript')
		var PLUGIN_NAME = '#{pluginName}';

	.container-fluid
		.row-fluid

			// Variable currentMenu denotes the active nav item
			- currentMenu = 'plgpersp:' + pluginName
			include sidebar
					
			.span9
				h1.page-title Available perspective functions for #{pluginName}
				
				//- Button to trigger modal to create new configuration
				a.btn.btn-primary(href='#addModal', role='button', data-toggle='modal') Add new perspective!
				//- Modal 
				#addModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='addModalLabel', aria-hidden='true')
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h3#addModalLabel New perspective
					.modal-body
						#perspName
						#perspDescription
						hr
						br
						#perspForm
					.modal-footer
						button.btn(data-dismiss='modal', aria-hidden='true') Cancel
						button.btn.btn-primary#savePersp Save
						
				br
				br
				br
				- each persp in pluginPerspFns
					- console.log('ttt: ' + persp.perspName);
					- var perspName = persp.perspName;
					- var perspDescription = persp.perspDescription;
					hr
					h3 #{perspName}
					| #{perspDescription}
					p
					.btn-group
						button.btn.btn-small.deletePersp(href = '#{perspName}') Delete

