extends layout

block content
  
  .container-fluid
    .row-fluid

      // Variable currentMenu denotes the active nav item
      - currentMenu= ''
      include sidebar
          
      .span9            
        h1.page-title Extracted JavaScript between &lt;script&gt; tags.
        hr
        .row-fluid
          .block
            .block-heading(data-toggle='collapse', data-target='#all') 
              | All
              span.label.label-info #{all.length}
            #all.block-body.collapse.in
              - each script in all
                p
                ol
                  li=script.properties.location
                  ul
                    p
                    li= script.code     
          .block
            .block-heading(data-toggle='collapse', data-target='#inplace') 
              | Inplace code
              span.label.label-info #{inplace.length}
            #inplace.block-body.collapse.in

          .block
            .block-heading(data-toggle='collapse', data-target='#sourceFiles') 
              | External source files
              span.label.label-info #{sourceFiles.length}
            #sourceFiles.block-body.collapse.in

          .block
            .block-heading(data-toggle='collapse', data-target='#sourceFilesCrossDomain') 
              | External source files from other domain
              span.label.label-info #{sourceFilesCrossDomain.length}
            #sourceFilesCrossDomain.block-body.collapse.in

                    