.span3
  .sidebar-nav
    
    // Variable currentMenu denotes the active nav item
    - var nav = {}; nav[currentMenu] = 'active'
    
    .nav-header(data-toggle='collapse', data-target='#stats-menu')
      i.icon-tasks
      | Stats   
    ul#stats-menu.nav.nav-list.collapse.in
      li(class='#{nav.statsAll}')
        a(href='#') All
      li(class='#{nav.statsJSLint}')
        a(href='#') JSLint
      li(class='#{nav.statsJSHint}')
        a(href='#') JSHint
      li(class='#{nav.statsWALA}')
        a(href='#') WALA
      li(class='#{nav.statsDoctorJS}')
        a(href='#') DoctorJS
      li(class='#{nav.statsJSAnalyse}')
        a(href='#') JSAnalyse
        
    a(href='/scripts').nav-header(data-toggle='collapse', data-target='#scripts-menu')
      | Scripts &nbsp;
      i.icon-chevron-left
      | /  &nbsp;
      i.icon-chevron-right
      span.label.label-info #{scriptsCount}
        
    a(href='/events').nav-header(data-toggle='collapse', data-target='#events-menu')
      | Events &nbsp;
      i.icon-screenshot
      span.label.label-info #{eventsCount}
    