.span3
	.sidebar-nav
		
		// Variable currentMenu denotes the active nav item
		- var nav = {}; nav[currentMenu] = 'active'

		a(href='/analyseconfig').nav-header
			i.icon-screenshot.icon-white
			| Extraction & Analysis
		.nav-header(data-toggle='collapse', data-target='#plconfigs-menu')
			i.icon-wrench.icon-white
			| Analysis configs
		ul#plconfigs-menu.nav.nav-list.collapse
			- each plugin in pluginsList
				- var pl = nav['plgconfig:' + plugin.pluginName]
				li(class=pl)
					a(href='/plgconfigs?pluginName=#{plugin.pluginName}') #{plugin.pluginName}
		br
		br
			
		a(href='/sites').nav-header
			i.icon-chevron-left.icon-white
			| ...
			i.icon-chevron-right.icon-white
			| Browse extracted JS
		br
		br

		a(href='/analysisresults').nav-header
			i.icon-list.icon-white
			| Browse analysis results
		.nav-header(data-toggle='collapse', data-target='#perspectives-menu')
			i.icon-wrench.icon-white
			| Perspective functions
		ul#perspectives-menu.nav.nav-list.collapse
			- each plugin in pluginsList
				- var pl = nav['plgpersp:' + plugin.pluginName]
				li(class=pl)
					a(href='/plgPerspFns?pluginName=#{plugin.pluginName}') #{plugin.pluginName}
		br
		br
			
		.nav-header(data-toggle='collapse', data-target='#plugins-menu')
			i.icon-folder-open.icon-white
			| Plugins
			span.label.label-info #{pluginsList.length}
		ul#plugins-menu.nav.nav-list.collapse.in
			- each plugin in pluginsList
				- var pl = nav['plgman:' + plugin.pluginName]
				li(class=pl)
					a(href='/plgman?pluginName=#{plugin.pluginName}') #{plugin.pluginName}
		